html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:  0px 0px 20px #aaaaaa;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    z-index: 10;
    padding: 15px;
}

div.top{
    display: flex;
    justify-content: space-between;
}

h1.time{
    text-align: center;
    font-size: 5rem;
}

div#crypto-top{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div#crypto-top > span{
    margin-left: 10px;
}

div#crypto{
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 12px;
}

div#crypto > p{
    margin: 0;
}

div#weather{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

div#weather > img{
    width: 70px;
}

p.weather-city{
    width: 100%;
    text-align: right;
    margin: 0 60px;
    align-self: flex-start;
    margin-top: -20px;
    font-size: 1.2rem;
}

p.weather-temp{
    margin: 0;
    font-size: 1.7rem;
}

p#author{
    font-size: 1rem;
}